/*===COLOR===
Bleu : #4870cf
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;		
}

html{width: 100%;background-color: #FFF;}
body{margin: auto;position:relative;font-family: 'Raleway', sans-serif;}
.content{max-width:75%; min-width:800px;margin:auto;position:relative;}

/******** Header ********/
header{
	background-color: #fff;
	width: 100%;
	height: 70px;
    box-shadow:0 1px 1px 0px rgba(0,0,0,0.3);
}
header h1{
    position: relative;
    width: auto;
    display: inline-block;
    line-height:70px;
}
header h1 a{
	font-size: 35px;	
	color: #4870cf;	
	line-height: 70px;
	font-weight: 100;
}
header h1 span{
    font-weight:bold;
}
header nav{
    display:inline-block;
    position:absolute;
    right:0;
}
header ul{
	list-style-type:none;
	text-align:center;
    height: 70px;
}
header ul li{
    display: inline-block;
	line-height: 70px;
    margin: 0 20px 0 20px;
}
header ul li a{
    color: #4870cf;
    font-weight:300;
    letter-spacing: 1px;
    font-size:16px;
}
header ul a:hover{
    font-weight:400;
}
header ul a.active{
    font-weight:400;
}
/******** Bar Générale ********/
#choice_box{
	background-image: url(../img/back.png);
	width: 100%;
	height: 234px;
}
.choice{
	background-color: rgba(243,243,243,0.4);
	width:742px;
	height:75px;
	margin-left:296px;
	-webkit-border-radius:0px 0px 5px 5px;
    -moz-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
}
.choice form{
	font-size: 20px;
	color: white;
}
.choice form input{
	font-family: 'Raleway', sans-serif;
	margin-left: 60px;
	margin-top: 32px;
}


/******** Choice ********/
.toggle_text{
	background-color: #33ccff;
	width: 100%;
	height: 40px;
	margin-bottom: 2px;
}
.toggle_text a{
	color: white;
	line-height: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-left: 60px
}
.toggle{
    min-height: 100px;
    background: #fff;
    text-align:center;
}

.toggle table tr th{
    padding: 2px 10px 2px 10px;
    color: #333;
}
.toggle table td{
    padding: 2px 10px 2px 10px;
}
.toggle table input[type="text"]{
    padding: 4px 12px;
	border:1px solid #ccc;
    height: 20px;
}
.radius-left{border-radius: 4px 0 0 4px;}
.radius-right{border-radius: 0 4px 4px 0;}
.radius-all{border-radius: 4px;}
.toggle table input.shadow{
    width:20px;
}
.before-input{
    padding: 6px 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0px;
}
.picker{
    margin:0;
	width:70px;
	line-height:20px;
}

h2{
    color:#656565;
    font-size:45px;
    font-weight:100;
    font-style:italic;
}
h5{
    color:#000;
    font-size:17px;
    font-weight:100;
    font-style:italic;
}

/*===============================
    Page de test sur customize2
===============================*/
.accordionContent{
    min-height: 100px;
    background: #fff;
    text-align:center;
}
.accordionContent table{
    margin-top: 5px;
}
.accordionContent table tr th{
    padding: 2px 10px 2px 10px;
    color: #333;
}
.accordionContent table td{
    padding: 2px 10px 2px 10px;
}
.accordionContent table input[type="text"]{
    padding: 4px 12px;
    border:1px solid #ccc;
    height: 30px;
}
.radius-left{border-radius: 4px 0 0 4px;}
.radius-right{border-radius: 0 4px 4px 0;}
.radius-all{border-radius: 4px;}
.accordionContent table input.shadow{
    width:20px;
}
/*=========================
        HOW TO USE
==========================*/
#HowUse{
    margin-top:50px;
}
#select, #custom, #generate{
    margin:50px 0;
}   
.right{
    float:right;
}
.text{
    display: inline-block;
    width: 75%;
    height: 200px;
}
.text h3{
    margin-top: 10px;
    color:#3f3f3f;
    font-size:40px;
    font-weight:300;
}
.text p{
    margin-top: 15px;
    text-align:justify;
    font-style:italic;
    font-weight:200;
    font-size:20px;
    line-height:30px;
}
.pic{
    display: inline-block;
    width: 20%;
    height: 200px;
    background-color: #fff;
}

/*=========================
EXPLORE HIS CAPACITIES
==========================*/
#explore{
    padding-top:50px;
    padding-bottom:80px;
    background-color: #ebebeb;
    -moz-box-shadow: 0px 1px 5px 0px #606060;
    -webkit-box-shadow: 0px 1px 5px 0px #606060;
    -o-box-shadow: 0px 1px 5px 0px #606060;
    box-shadow: 0px 1px 5px 0px #969606060696;
}
#discover{
    margin-top:15px;
}
#presentation{
    margin-top: 80px;
    height: 340px;
    position:relative;
}
.example{
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    display:inline-block;
    position:absolute;
    border-radius:2px
    -moz-box-shadow: 0px 1px 10px 0px #969696;
    -webkit-box-shadow: 0px 1px 10px 0px #969696;
    -o-box-shadow: 0px 1px 10px 0px #969696;
    box-shadow: 0px 1px 10px 0px #969696;
}
#example2{
    left:50%;
    margin-left: -125px;
}
#example3{
    right:0;
}
#bt_explore{
    background-color: #4870cf;
    color:#fff;
    font-weight:700;
    font-size:20px;
    border-radius:2px;
    text-align:center;
    padding:12px 80px;
}

/*=========================
QUOTE
==========================*/
#quote{
    background-color: #4870cf;
    height: 200px;
}

/*=========================
FOOTER
==========================*/
footer{
    background-color: #0c0c0c;
    height: 230px;
}
