@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

/*===COLOR===
Bleu : #3a85bc
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;		
}

html{width: 100%;background-color: #FFF;}
body{margin: auto;position:relative;font-family: 'Raleway', sans-serif;}
.content{max-width:75%; min-width:800px;margin:auto;position:relative;}

::-moz-selection { 
    background:#3a85bc;
    color:#FFF;
}
::selection { 
    background:#3a85bc;
    color:#FFF;
}

/******** Header ********/
header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    box-shadow:0 1px 1px 0px rgba(0,0,0,0.3);
}
header h1{
    position: relative;
    width: auto;
    display: inline-block;
    line-height:70px;
}
header h1 a{
    font-size: 35px;	
    color: #3a85bc;	
    line-height: 70px;
    font-weight: 100;
}
header h1 span{
    font-weight:bold;
}
header h1 img{
    width: 40px;
}
header nav{
    display:inline-block;
    position:absolute;
    right:0;
}
header ul{
    list-style-type:none;
    text-align:center;
    height: 70px;
}
header ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 20px 0 20px;
}
header ul li a{
    color: #3a85bc;
    font-weight:300;
    letter-spacing: 1px;
    font-size:16px;
}
header ul a:hover{
    font-weight:400;
}
header ul a.active{
    font-weight:400;
}
/******** Bar Générale ********/
#choice_box{
    background-image: url(../img/back.png);
    width: 100%;
    height: 234px;
}
.choice{
    background-color: rgba(243,243,243,0.4);
    width:742px;
    height:75px;
    -webkit-border-radius:0px 0px 5px 5px;
    -moz-border-radius:0px 0px 5px 5px;
    border-radius:0px 0px 5px 5px;
    margin: auto;
}
.choice form{
    font-size: 20px;
    color: white;
}
.choice form input{
    font-family: 'Raleway', sans-serif;
    margin-left: 60px;
    margin-top: 32px;
}

/******** Choice ********/
.toggle_text{
    background-color: #3a85bc;
    width: 100%;
    height: 40px;
    margin-bottom: 2px;
}
.toggle_text a{
    color: white;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-left: 4%;
}
.toggle{
    min-height: 100px;
    background: #fff;
    text-align:center;
}
.toggle table{margin-left:4%; margin-top:10px;}
.toggle table tr td{padding-bottom:25px;}
.toggle table tr th{
    padding: 2px 10px 2px 10px;
    color: #333;
}
.toggle table td{
    padding: 2px 10px 2px 10px;
    text-align:left;
}
.toggle table td:first-child{padding: 2px 10px 2px 0; width:200px;}
.toggle table td select{
    padding: 4px 12px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #eee;
    color:#555;
    border:1px solid #ccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
.toggle table input[type="text"]{
    padding: 4px 12px;
    border:1px solid #ccc;
    height: 18px;
    vertical-align:middle;
    outline:none;
}
.radius-left{border-radius: 4px 0 0 4px;}
.radius-right{border-radius: 0 4px 4px 0;}
.radius-all{border-radius: 4px;}
span.shadow{margin-bottom:4px; display: inline-block;}
.toggle table input.shadow{
    width:20px;
    margin-bottom:4px;
    display: inline-block;
    height: 16px;
}
.before-input{
    padding: 6px 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0px;
    vertical-align:middle;
}
.picker{
    margin:0;
    width:70px;
    line-height:20px;
}
h2{
    color:#656565;
    font-size:45px;
    font-weight:100;
    font-style:italic;
}
h5{
    color:#000;
    font-size:17px;
    font-weight:100;
    font-style:italic;
}
/*===============================
Page de test sur customize2
===============================*/
.accordionContent{
    background: #fff;
    text-align:center;
}
.accordionContent table{
    margin-top: 5px;
}
.accordionContent table tr th{
    padding: 2px 10px 2px 10px;
    color: #333;
}
.accordionContent table td{
    padding: 2px 10px 2px 10px;
}
.accordionContent table input[type="text"]{
    padding: 4px 12px;
    border:1px solid #ccc;
    height: 30px;
}
.accordionContent table input.shadow{
    width:20px;
}
/*=========================
PEAK PHOTO HOME
==========================*/
#peakphoto{
    position:relative;
    width: 100%;
    height: 479px;
    background-image:url(../img/peak-home.jpg);
    background-position: center center;
}
#catch{
    position:relative;
    top:120px;
    width: 520px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius:4px;
}
.simple{
    font-size:40px;
    font-weight:300;
    color:rgba(0, 0, 0, 0.8);
    padding:30px 0 0 30px;
}
.prepare{
    font-size:38px;
    font-weight:100;
    color:rgba(0, 0, 0, 0.6);
    padding:15px 30px 30px 35px;
}
#bt_howuse, #bt_customize{
    position:absolute;
    background-color: #3a85bc;
    color:#fff;
    font-weight:400;
    font-size:20px;
    border-radius:2px;
    text-align:center;
    bottom:40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#bt_howuse{
    padding:14px 47px;
    left: 30px;
}
#bt_customize{
    padding:14px 53px;
    right: 30px;
}
#bt_howuse:hover, #bt_customize:hover, #bt_explore:hover, .pic:hover{background-color: #2379b7;box-shadow:3px 3px 1px 1px rgba(150,150,150,0.5);}
/*=========================
HOW TO USE
==========================*/
#HowUse{
    margin-top:50px;
}
#select, #custom, #generate{
    margin:30px 0;
}   
.right{
    float:right;
}
.text{
    display: inline-block;
    width: 75%;
    height: 200px;
}
.text h3{
    margin-top: 10px;
    color:#3f3f3f;
    font-size:40px;
    font-weight:300;
}
.text p{
    margin-top: 15px;
    text-align:justify;
    font-style:italic;
    font-weight:200;
    font-size:20px;
    line-height:30px;
}
.pic{
    display: inline-block;
    margin-top: 10px;
    width: 160px;
    height: 160px;
    background-color: #3a85bc;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pic img{
    display:block;
    margin:23px auto 0 auto;
}

/*=========================
EXPLORE HIS CAPACITIES
==========================*/
#explore{
    padding-top:50px;
    padding-bottom:80px;
    background-color: #ebebeb;
    -moz-box-shadow: 0px 1px 5px 0px #606060;
    -webkit-box-shadow: 0px 1px 5px 0px #606060;
    -o-box-shadow: 0px 1px 5px 0px #606060;
    box-shadow: 0px 1px 5px 0px #969606060696;
}
#discover{
    margin-top:15px;
}
#presentation{
    margin-top: 80px;
    height: 340px;
    position:relative;
}
.thumbnail{
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    display:inline-block;
    position:absolute;
    border-radius:2px
        -moz-box-shadow: 0px 1px 10px 0px #969696;
    -webkit-box-shadow: 0px 1px 10px 0px #969696;
    -o-box-shadow: 0px 1px 10px 0px #969696;
    box-shadow: 0px 1px 10px 0px #969696;
}

.thumbnail:nth-child(2){
    left:50%;
    margin-left: -125px;
}
.thumbnail:last-child{
    right:0;
}
#bt_explore{
    display:block;
    width: 250px;
    height: 34px;
    padding-top: 15px;
    background-color: #3a85bc;
    color:#fff;
    font-weight:400;
    font-size:20px;
    border-radius:2px;
    text-align:center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*=========================
QUOTE
==========================*/
#quote{
    background-color: #3a85bc;
    height: 200px;
}
#quote img{
    display:block;
    margin:0 auto;
    padding-top: 40px;
}
q{
    margin-top: 20px;
    display:block;
    width: 100%;
    color:#fff;
    font-size:36px;
    font-weight:200;
    font-style:italic;
    text-align: center;
}
/*=========================
CONTACT
==========================*/
#contact_us{
    background-color:rgba(51,102,204,0.75);
    height:550px;
    width:100%;
}
#contact_us h2{
    color:#fff;
    text-align:center;
    padding-top:35px;
}
.text_contact{
    font-size:30px;
    color:#fff;
    font-family:'Raleway', sans-serif;
    margin:20px 0 0 90px;
    line-height:30px;
}
#contact_us span{
    font-size:60px;
}
/*** Champ form ***/
#center{
    margin:0 auto;
}
#contact_us form{
    margin-left:35px;
}
.box{
    width:49%;
    display:inline-block;
    margin-bottom:1%;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
    position:relative;
    vertical-align:top;
}
.box input{
    border:2px solid #fff;
    background-color:transparent;
    width:90%;
    height:25px;
    /*border-radius*/
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
    margin-bottom:6.4%;
    font-size:20px;
    font-weight:400;
    font-style:normal;
    padding:10px;
    color:#fff;
}
.box textarea{
    border:2px solid #fff;
    background-color:transparent;
    font-family:'Raleway', sans-serif;
    width:90%;
    height:104px;
    /*border-radius*/
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
    margin:auto;
    font-size:20px;
    font-weight:400;
    font-style:normal;
    padding:10px;
    margin-bottom: 3px;
    color:#fff;
    resize:none;
}
#button_send{
    border:1px solid #fff;
    background-color:#fff;
    width:95%;
    height:50px;
    /*border-radius*/
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
    margin-top:5%;
    -webkit-margin-top: 5.4%
    font-size:20px;
    padding:10px;
    color:#3a85bc;
    font-family:'Raleway', sans-serif;
}

input::-webkit-input-placeholder{color:white;font-family:'Raleway', sans-serif;}
input:-moz-placeholder{color:white;font-family:'Raleway', sans-serif;}
textarea::-webkit-input-placeholder{color:white;font-family:'Raleway', sans-serif;}
textarea:-moz-placeholder{color:white;font-family:'Raleway', sans-serif;}

/*** Verification form ***/
#contact_us span.error{
    text-align:center;
    background-color:rgba(255, 255, 255,0.5);
    margin:20px 35px;
    color:#333;
    font-size:20px;
    font-weight:300;
    padding:15px 5px 15px 5px;
    width:91%;
    display:inline;
    position:relative;
    float:left;
}


input::-webkit-input-placeholder{color:white;font-family: 'Raleway', sans-serif;}
input:-moz-placeholder{color:white;font-family: 'Raleway', sans-serif;}
textarea::-webkit-input-placeholder{color:white;font-family: 'Raleway', sans-serif;}
textarea:-moz-placeholder{color:white;font-family: 'Raleway', sans-serif;}

/*=========================
QUOTE
==========================*/
#quote{
    background-color: #3a85bc;
    height: 200px;
}

/*=========================
FOOTER
==========================*/
footer{
    background-color: #0c0c0c;
    height: 230px;
}
