@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,700);

/*===COLOR===
Bleu : #4870cf
*/

/*=========================
BODY
==========================*/
html{
    width: 100%;
}
body{
    width: 1080px;
    margin:0 auto;
    font-family: 'Raleway', sans-serif;
}

/*=========================
HOW TO USE
==========================*/
#HowUse{
    margin-top:50px;
}
#select, #custom, #generate{
    margin:50px 0;
}
h2{
    color:#656565;
    font-size:45px;
    font-weight:100;
    font-style:italic;
}
.right{
    float:right;
}
.text{
    display: inline-block;
    width: 75%;
    height: 200px;
}
.text h3{
    margin-top: 10px;
    color:#3f3f3f;
    font-size:40px;
    font-weight:300;
}
.text p{
    margin-top: 15px;
    text-align:justify;
    font-style:italic;
    font-weight:200;
    font-size:20px;
    line-height:30px;
}
.pic{
    display: inline-block;
    width: 20%;
    height: 200px;
    background-color: red;
}
