#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.accordionButton {  
    width: 100%;
    height: 40px;
    color: white;
    float: left;
    _float: none;  /* Float works in all browsers but IE6 */
    background: #4870cf;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    line-height: 40px;
    }
.accordionButton p{
    margin-left : 60px;
}
    
.accordionContent { 
    width: 100%;
    height: auto;
    float: left;
    _float: none; /* Float works in all browsers but IE6 */
    background: #fff;
    }
    
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
    background: #4870cf;
    }
    
.over {
    background: blue;
    }